<div class="row footer">
    <div class="col-6 d-flex justify-content-center gap-4 m-2">
      <p>Desenvolvido por Eduardo Eckert</p>
      <div class="github">
        <a href="https://github.com/eduardo-eckert">
          <i
            style="color: rgb(21, 20, 20)"
            class="bi-github iconify"
          ></i>
        </a>
      </div>
      <div class="linkedin">
        <a id="iconify" href="https://www.linkedin.com/in/eduardo-eckert/">
          <i style="color: rgb(37, 37, 225)" class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="col-2">
      <img src="../../../assets/gitaBeer3.png " class="logo" />
    </div>
  </div>
