<div class="texto-inicio text-center">
    <h4>Gîtâ's Beer, unindo cerveja e música!</h4>
    <p>A cervejaria Gîtâ's Beer tem seu nome inspirado na grande música do eterno Raul Seixas. <br>
        Na barra de navegação acima é possível acessar as funções de produtos (cervejas), clientes e pedidos. 
    Na aba produtos é possível ativar, editar e gerenciar a entrada no estoque. A aba clientes permite a exclusão e edição dos clientes. 
    Já a aba pedidos permite a exclusão do pedido, edição e acompanhamento do status.</p>
</div>
<div class="card-header">
    <img src="../../../assets/copos-cervejas.jpg" class="img-fluid" />
</div>